div:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #000;
}
a:hover {
  color: #0a58ca;
  text-decoration: underline;
  font-style: italic;
}

hr {
  color: #808080;
  text-align: center;
}

#titolo {
  box-shadow: 1px 3px 5px 1px #777777;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  background-color: #000;
}
#titolo #nomePagina {
  width: 95%;
  position: relative;
  margin-bottom: 0px;

}
#titolo #nomePagina h2{
  color: #ffffcc;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin-top: 0%;
}

@media only screen and (min-width: 768px) {
  #titolo {
    padding-bottom: 10px;
  }
  #titolo #nomePagina h2{
    font-size: 38px;
  }
}
#titolo #menuDivButton {
  position: relative;
  width: 5%;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
#titolo #menuDivButton span {
  width: 35px;
  height: 5px;
  position: relative;
  left: 25%;
  display: block;
  margin-top: 4px;
  background: #ffffcc;
  border-radius: 50px;
}
#titolo #menuDivButton:hover {
  opacity: 0.7;
  transition: opacity 1s;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #titolo #menuDivButton{
    top: 5px;
  }
}
@media screen and (max-width: 500px) {
  #titolo #menuDivButton{
    width: 11%;
  }
  #titolo #nomePagina {
    width: 89%;
  }
}
@media screen and (max-width: 400px) {
  #titolo #menuDivButton{
    width: 15%;
  }
  #titolo #nomePagina {
    width: 85%;
  }
}
@media screen and (max-width: 300px) {
  #titolo #menuDivButton{
    width: 22%;
  }
  #titolo #nomePagina {
    width: 78%;
  }
}
#testo {
  padding: 0px 5px;
}
#testo h2 {
  margin: 2px 0px 1px;
}
#testo p {
  font-family: serif;
  font-size: 15px;
}
#testo p a img {
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  #testo {
    padding: 0.5% 8%;
  }
  #testo p {
    font-size: 18px;
  }
}

.foto_sinistra {
  float: left;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}

.foto_destra {
  float: right;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}

#menu #lista {
  width: 100%;
  left: 0%;
}
#menu #resto {
  width: 0%;
  left: 100%;
}
#menu #lista {
  display: none;
  min-height: 100%;
  left: 0%;
  top: 0%;
  z-index: 3;
  background-color: #faf9f9;
  position: absolute;
}
#menu #lista ul {
  padding-top: 0%;
  padding-left: 20%;
  list-style: none;
  position: sticky;
  top: 2%;
}
#menu #lista ul li {
  margin-bottom: 20px;
}
#menu #lista ul li a {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
}
#menu #lista ul li a img {
  width: 20px;
  height: auto;
}
#menu #lista ul li a:hover {
  color: #0a58ca;
  font-style: italic;
}
#menu #lista ul #exit {
  width: 20px;
  height: auto;
  position: sticky;
  transform: translateX(-30px);
}
#menu #lista ul #exit:hover {
  cursor: pointer;
}
#menu #lista ul #exit img {
  width: 15px;
  height: auto;
}
#menu #resto {
  top: 0%;
  min-height: 100%;
  position: absolute;
  z-index: 3;
  display: none;
  background-color: #7e7d7dda;
}

@media only screen and (min-width: 330px) and (max-width: 768px) {
  #menu #lista {
    width: 75%;
    left: 0%;
  }
  #menu #resto {
    width: 25%;
    left: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1060px) {
  #menu #lista {
    width: 35%;
    left: 0%;
  }
  #menu #resto {
    width: 65%;
    left: 35%;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1300px) {
  #menu #lista {
    width: 25%;
    left: 0%;
  }
  #menu #resto {
    width: 75%;
    left: 25%;
  }
}
@media only screen and (min-width: 1300px) {
  #menu #lista {
    width: 20%;
    left: 0%;
  }
  #menu #resto {
    width: 80%;
    left: 20%;
  }
}
body {
  min-height: 100%;
  top: 0%;
  left: 0%;
  min-width: 100%;
  position: absolute;
  margin: 0%;
  padding: 0%;
  background-color: #E8E8E8;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
  }
}
@media only screen and (min-width: 768px) {
  #tutto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 3px 5px 1px #1d1d1d;
    transition: box-shadow 0.5s;
    min-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    top: 0%;
    background-color: #E8E8E8;
    position: absolute;
  }
}
#competenze_div p {
  font-size: 14px;
  margin: 5px 15px;
  text-align: center;
}
#competenze_div ul {
  list-style: none;
  margin-top: 1vw;
  padding: 0% 3% 0% 9%;
}
#competenze_div ul li #lingue a img {
  border: 0px solid #00000000;
  border-radius: 100%;
  width: 55px;
  height: 55px;
}
#competenze_div ul li #lingue, #competenze_div ul li #software, #competenze_div ul li #programmazione {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1px;
}
#competenze_div ul li #lingue a, #competenze_div ul li #software a, #competenze_div ul li #programmazione a {
  margin: 1.3vw 30px 20px 0px;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
}
#competenze_div ul li #lingue a span, #competenze_div ul li #software a span, #competenze_div ul li #programmazione a span {
  display: block;
}
#competenze_div ul li #lingue a img, #competenze_div ul li #software a img, #competenze_div ul li #programmazione a img {
  height: 55px;
  width: auto;
  margin-bottom: 10px;
  padding-right: 5px;
  background-color: #00000000;
}
#competenze_div ul li h2 {
  font-size: 18px;
  margin: 1vw 0vw 0vw;
}

@media only screen and (min-width: 768px) {
  #competenze_div p {
    font-size: 18px;
  }
  #competenze_div ul {
    margin: 0%;
    padding: 0%;
  }
  #competenze_div ul li h2 {
    transform: translateX(-50px);
  }
  #competenze_div ul li #lingue a img {
    border: 0px solid #00000000;
    border-radius: 100%;
    width: 75px;
    height: 75px;
  }
  #competenze_div ul li #lingue, #competenze_div ul li #software, #competenze_div ul li #programmazione {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #competenze_div ul li #lingue a img, #competenze_div ul li #software a img, #competenze_div ul li #programmazione a img {
    height: 75px;
    width: auto;
  }
  #competenze_div ul li #lingue a span, #competenze_div ul li #software a span, #competenze_div ul li #programmazione a span {
    font-size: 15px;
    visibility: hidden;
  }
  #competenze_div ul li #lingue a:hover, #competenze_div ul li #software a:hover, #competenze_div ul li #programmazione a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  #competenze_div ul li #lingue a:hover span, #competenze_div ul li #software a:hover span, #competenze_div ul li #programmazione a:hover span {
    visibility: visible;
  }
}
#competenza_descrizione {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  justify-content: center;
  overflow: hidden;
  background-color: #7e7d7dda;
}
#competenza_descrizione #competenza_exit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20px;
  height: 20px;
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  border: 0px solid #00000000;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  z-index: 2;
  bottom: 16%;
  left: 0%;
}
#competenza_descrizione #competenza_exit img {
  width: 10px;
  height: 10px;
}
#competenza_descrizione iframe {
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 15%;
  border-radius: 10px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #competenza_descrizione iframe {
    width: 50%;
  }
}

footer {
  background-image: linear-gradient(to right, #9ba5da, #bbe7c8, #dee7e7);
  padding-bottom: 4%;
  border-top: 2px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  margin-top: 5%;
  position: relative;
}
footer p {
  font-size: 18px;
  color: #000;
  position: relative;
  padding: 0.5% 2%;
}
footer #linkContatti {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  position: relative;
}
footer #linkContatti a {
  display: inline-block;
  margin-left: 35px;
  text-align: center;
  text-decoration: none;
}
footer #linkContatti a img {
  background-color: #00000000;
  width: 40px;
  height: auto;
}

@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
  footer p {
    font-size: 30px;
  }
  footer #linkContatti a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  footer #linkContatti a img {
    width: 85px;
    height: auto;
  }
}