div:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #000;
}
a:hover {
  color: #0a58ca;
  text-decoration: underline;
  font-style: italic;
}

hr {
  color: #808080;
  text-align: center;
}

#titolo {
  box-shadow: 1px 3px 5px 1px #777777;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  max-height: 50px;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  background-color: #E8E8E8;
}
#titolo p {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transform: translateY(-110%);
  margin-bottom: 0px;
}

@media only screen and (min-width:500px) and (max-width: 768px) {
  #titolo p{
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-120%);
  }
}
@media only screen and (min-width: 768px) {
  #titolo {
    padding-bottom: 10px;
    max-width: none;
  }
  #titolo p{
    font-size: 38px;
    font-weight: bold;
    transform: translateY(-110%);
  }
}
#testo {
  padding: 0px 5px;
}
#testo h2 {
  margin: 2px 0px 1px;
}
#testo p {
  font-family: serif;
  font-size: 15px;
}
#testo p a img {
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  #testo {
    padding: 0.5% 8%;
  }
  #testo p {
    font-size: 18px;
  }
}

.foto_sinistra {
  float: left;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}

.foto_destra {
  float: right;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}

#menuDivButton {
  width: 15px;
  height: 15px;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  left: 15px;
  top: 12px;
}
#menuDivButton span {
  width: 35px;
  height: 4px;
  display: block;
  margin: 4px;
  background: #222;
  border-radius: 9px;
}
#menuDivButton:hover {
  opacity: 0.7;
  transition: opacity 1s;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: transform 1s;
  cursor: pointer;
}

@media only screen and (min-width:500px) and (max-width: 768px) {
  #menuDivButton {
    top: 10px;
  }
  #menuDivButton span {
    width: 40px;
    height: 6px;
    margin: 6px;
  }
}
@media only screen and (min-width: 768px) {
  #menuDivButton span {
    width: 40px;
    height: 6px;
    margin: 3px;
    background: #222;
    border-radius: 9px;
  }
}
#menu #lista {
  width: 100%;
  left: 0%;
}
#menu #resto {
  width: 0%;
  left: 100%;
}
#menu #lista {
  display: none;
  min-height: 100%;
  left: 0%;
  top: 0%;
  z-index: 3;
  background-color: #faf9f9;
  position: absolute;
}
#menu #lista ul {
  padding-top: 0%;
  padding-left: 20%;
  list-style: none;
  position: sticky;
  top: 2%;
}
#menu #lista ul li {
  margin-bottom: 20px;
}
#menu #lista ul li a {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
}
#menu #lista ul li a img {
  width: 20px;
  height: auto;
}
#menu #lista ul li a:hover {
  color: #0a58ca;
  font-style: italic;
}
#menu #lista ul #exit {
  width: 20px;
  height: auto;
  position: sticky;
  transform: translateX(-30px);
}
#menu #lista ul #exit:hover {
  cursor: pointer;
}
#menu #lista ul #exit img {
  width: 15px;
  height: auto;
}
#menu #resto {
  top: 0%;
  min-height: 100%;
  position: absolute;
  z-index: 3;
  display: none;
  background-color: #7e7d7dda;
}

@media only screen and (min-width: 330px) and (max-width: 768px) {
  #menu #lista {
    width: 75%;
    left: 0%;
  }
  #menu #resto {
    width: 25%;
    left: 75%;
  }
  #menu #lista {
    border-top-left-radius: 10px;
  }
  #menu #resto {
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1060px) {
  #menu #lista {
    width: 35%;
    left: 0%;
  }
  #menu #resto {
    width: 65%;
    left: 35%;
  }
  #menu #lista {
    border-top-left-radius: 10px;
  }
  #menu #resto {
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1300px) {
  #menu #lista {
    width: 25%;
    left: 0%;
  }
  #menu #resto {
    width: 75%;
    left: 25%;
  }
  #menu #lista {
    border-top-left-radius: 10px;
  }
  #menu #resto {
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 1300px) {
  #menu #lista {
    width: 20%;
    left: 0%;
  }
  #menu #resto {
    width: 80%;
    left: 20%;
  }
  #menu #lista {
    border-top-left-radius: 10px;
  }
  #menu #resto {
    border-top-right-radius: 10px;
  }
}
body {
  min-height: 100%;
  top: 0%;
  left: 0%;
  min-width: 100%;
  position: absolute;
  margin: 0%;
  padding: 0%;
  background-color: #E8E8E8;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
  }
}
@media only screen and (min-width: 768px) {
  #tutto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 3px 5px 1px #1d1d1d;
    transition: box-shadow 0.5s;
    min-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    top: 0%;
    background-color: #E8E8E8;
    position: absolute;
  }
}
footer {
  background-image: linear-gradient(to right, #9ba5da, #bbe7c8, #dee7e7);
  padding-bottom: 4%;
  border-top: 2px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  margin-top: 5%;
  position: relative;
}
footer p {
  font-size: 18px;
  color: #000;
  position: relative;
  padding: 0.5% 2%;
}
footer #linkContatti {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  position: relative;
}
footer #linkContatti a {
  display: inline-block;
  margin-left: 35px;
  text-align: center;
  text-decoration: none;
}
footer #linkContatti a img {
  background-color: #00000000;
  width: 40px;
  height: auto;
}

@media only screen and (min-width:500px) and (max-width: 768px) {
  footer {
    width: 100%;
  }
  footer p {
    padding-top: 0px;
    font-size: 40px;
  }
  footer #linkContatti a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  footer #linkContatti a img {
    width: 85px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
  footer p {
    font-size: 30px;
  }
  footer #linkContatti a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  footer #linkContatti a img {
    width: 85px;
    height: auto;
  }
}
#invito {
  text-align: center;
  font-family: serif;
  font-size: 14px;
  padding: 0% 10%;
}
#invito a {
  color: #000;
}
#invito a:hover {
  font-style: oblique;
}
@media only screen and (min-width:500px) and (max-width: 768px) {
  #invito {
    font-size: 27px;
  }
}
@media only screen and (min-width: 768px) {
  #invito {
    font-size: 20px;
  }
}
#CI, #storia, #competenze {
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 90%;
  margin: 20px 5px 10px;
  border-radius: 10px;
}
#CI #dati {
  position: relative;
  display: grid;
  margin: 10px 0px 20px;
  left: -40px;
}
#CI #foto_profilo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 100%;
  min-width: 100%;
  margin-top: 10px;
}
#CI #foto_profilo a {
  color: #000;
}
#CI #foto_profilo a img{
  width: 80px;
  height: auto;
  border-radius: 50%;
}

@media only screen and (min-width:500px) and (max-width: 768px) {
  #CI, #storia, #competenze {
    min-width: 90%;
    margin: 1% 2.5%;
    border-radius: 10px;
  }
  #CI #dati {
    position: relative;
    display: grid;
    left: -100px;
    margin: 0px 0px 20px;
    padding: 10px;
  }
  #CI #dati #nome span h2, 
  #CI #dati #nazionalita span h2, 
  #CI #dati #lingue_conosciute span h2, 
  #CI #dati #residenza span h2 {
    font-size: 38px;
  }
  #CI #dati #nome span:last-child, 
  #CI #dati #nazionalita span:last-child, 
  #CI #dati #lingue_conosciute span:last-child, 
  #CI #dati #residenza span:last-child {
    font-size: 28px;
  }
  #CI #foto_profilo {
    border-radius: 100%;
    min-width: 100%;
    margin-top: 50px;
  }
  #CI #foto_profilo a {
    color: #000;
  }
  #CI #foto_profilo a img{
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 768px) {
  #CI, #storia, #competenze {
    position: relative;
    display: grid;
    min-width: 98%;
    margin: 13px;
  }
  #CI #foto_profilo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 100%;
    min-width: 100%;
  }
  #CI #foto_profilo a {
    color: #000;
  }
  #CI #foto_profilo a img {
    width: 120px;
    height: auto;
    border-radius: 100%;
  }
  #CI #foto_profilo a img:hover {
    box-shadow: 1px 3px 5px 1px #1d1d1d;
    transition: box-shadow 0.5s;
  }
  #CI #dati {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    position: relative;
  }
  #CI #dati:after {
    content: "";
    display: table;
    clear: both;
  }
  #CI #dati #nome, 
  #CI #dati #nazionalita, 
  #CI #dati #lingue_conosciute, 
  #CI #dati #residenza {
    margin-right: 90px;
  }
  #CI #dati #nome span:first-child h2 {
    transform: translateX(-10px);
    margin-bottom: 5px;
  }
  #CI #dati #nome:last-child {
    margin-right: 0%;
  }
}
#foto_profilo_div {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  overflow: hidden;
  background-color: #7e7d7dda;
}
#foto_profilo_div iframe {
  z-index: 1;
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  top: 20px;
  left: 1%;
}
#foto_profilo_div #foto_profilo_exit {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0px solid #00000000;
  border-radius: 100%;
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  z-index: 1;
  top: 20px;
  left: 0%;
}
#foto_profilo_div #foto_profilo_exit img {
  width: 10px;
  height: 10px;
}

@media only screen and (min-width: 768px) {
  #foto_profilo_div {
    justify-content: center;
    background-color: #7e7d7dda;
  }
  #foto_profilo_div #foto_profilo_exit {
    top: 15%;
  }
  #foto_profilo_div iframe {
    top: 15%;
  }
}
#competenze {
  display: grid;
}
#competenze img {
  width: auto;
  height: 50px;
}
#competenze p {
  text-align: center;
  font-family: serif;
}
#competenze p a {
  color: #000;
}
#competenze p a:hover {
  color: #0a58ca;
  text-decoration: underline;
  font-style: oblique;
}
#competenze #LWQ, #competenze #CPG {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}
#competenze #LWQ #Linux, 
#competenze #LWQ #webdev, 
#competenze #LWQ #qt, 
#competenze #LWQ #python, 
#competenze #LWQ #C, 
#competenze #LWQ #git, 
#competenze #CPG #Linux, 
#competenze #CPG #webdev, 
#competenze #CPG #qt, 
#competenze #CPG #python, 
#competenze #CPG #C, 
#competenze #CPG #git {
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  transition: box-shadow 0.5s;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#competenze #LWQ #Linux img, 
#competenze #LWQ #webdev img, 
#competenze #LWQ #qt img, 
#competenze #LWQ #python img, 
#competenze #LWQ #C img, 
#competenze #LWQ #git img, 
#competenze #CPG #Linux img, 
#competenze #CPG #webdev img, 
#competenze #CPG #qt img, 
#competenze #CPG #python img, 
#competenze #CPG #C img, 
#competenze #CPG #git img {
  margin-bottom: 0%;
}
#competenze #LWQ #Linux h2, 
#competenze #LWQ #webdev h2, 
#competenze #LWQ #qt h2, 
#competenze #LWQ #python h2, 
#competenze #LWQ #C h2, 
#competenze #LWQ #git h2, 
#competenze #CPG #Linux h2, 
#competenze #CPG #webdev h2, 
#competenze #CPG #qt h2, 
#competenze #CPG #python h2, 
#competenze #CPG #C h2, 
#competenze #CPG #git h2 {
  display: block;
  margin-top: 0%;
  margin-bottom: 3%;
}
@media only screen and (min-width:500px) and (max-width: 768px) {
  #competenze {
    display: grid;
  }
  #competenze p {
    font-size: 27px;
    padding: 2px 50px 0px;
  }
  #competenze img {
    width: auto;
    height: 50px;
  }
  #competenze #LWQ, #competenze #CPG {
    margin-bottom: 10px;
  }
  #competenze #LWQ #Linux, 
  #competenze #LWQ #webdev, 
  #competenze #LWQ #qt, 
  #competenze #LWQ #python, 
  #competenze #LWQ #C, 
  #competenze #LWQ #git, 
  #competenze #CPG #Linux, 
  #competenze #CPG #webdev, 
  #competenze #CPG #qt, 
  #competenze #CPG #python, 
  #competenze #CPG #C, 
  #competenze #CPG #git {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 20px;
  }
  #competenze #LWQ #Linux img, 
  #competenze #LWQ #webdev img, 
  #competenze #LWQ #qt img, 
  #competenze #LWQ #python img, 
  #competenze #LWQ #C img, 
  #competenze #LWQ #git img, 
  #competenze #CPG #Linux img, 
  #competenze #CPG #webdev img, 
  #competenze #CPG #qt img, 
  #competenze #CPG #python img, 
  #competenze #CPG #C img, 
  #competenze #CPG #git img {
    margin-bottom: 0%;
  }
  #competenze #LWQ #Linux h2, 
  #competenze #LWQ #webdev h2, 
  #competenze #LWQ #qt h2, 
  #competenze #LWQ #python h2, 
  #competenze #LWQ #C h2, 
  #competenze #LWQ #git h2, 
  #competenze #CPG #Linux h2, 
  #competenze #CPG #webdev h2, 
  #competenze #CPG #qt h2, 
  #competenze #CPG #python h2, 
  #competenze #CPG #C h2, 
  #competenze #CPG #git h2 {
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 30px;
  }
  #competenze #LWQ #Linux span,
  #competenze #LWQ #webdev span,
  #competenze #LWQ #qt span,
  #competenze #LWQ #python span,
  #competenze #LWQ #C span,
  #competenze #LWQ #git span,
  #competenze #CPG #Linux span,
  #competenze #CPG #webdev span,
  #competenze #CPG #qt span,
  #competenze #CPG #python span,
  #competenze #CPG #C span,
  #competenze #CPG #git span{
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) {
  #competenze {
    display: grid;
  }
  #competenze img {
    width: auto;
    height: 50px;
  }
  #competenze #LWQ, #competenze #CPG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px 60px 10px;
  }
  #competenze #LWQ #Linux, 
  #competenze #LWQ #webdev, 
  #competenze #LWQ #qt, 
  #competenze #LWQ #python, 
  #competenze #LWQ #C, 
  #competenze #LWQ #git, 
  #competenze #CPG #Linux, 
  #competenze #CPG #webdev, 
  #competenze #CPG #qt, 
  #competenze #CPG #python, 
  #competenze #CPG #C, 
  #competenze #CPG #git {
    box-shadow: 1px 3px 5px 1px #1d1d1d;
    transition: box-shadow 0.5s;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
  }
  #competenze #LWQ #Linux h2, 
  #competenze #LWQ #webdev h2, 
  #competenze #LWQ #qt h2, 
  #competenze #LWQ #python h2, 
  #competenze #LWQ #C h2, 
  #competenze #LWQ #git h2, 
  #competenze #CPG #Linux h2, 
  #competenze #CPG #webdev h2, 
  #competenze #CPG #qt h2, 
  #competenze #CPG #python h2, 
  #competenze #CPG #C h2, 
  #competenze #CPG #git h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #competenze p {
    font-size: 20px;
  }
  #competenze p a {
    color: #000;
  }
  #competenze p a:hover {
    color: #0a58ca;
    text-decoration: underline;
    font-style: oblique;
  }
}
#sep_descr {
  display: flex;
}
#sep_descr #title_right {
  position: relative;
  transform: translateX(80%);
}
#sep_descr #title_left {
  position: relative;
  transform: translateX(-190%);
}

#storia {
  position: relative;
  display: grid;
  min-width: 95%;
  height: auto;
  padding-bottom: 2%;
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  position: absolute;
  width: 6px;
  height: 96%;
  top: 3%;
  bottom: 3%;
  left: 50%;
  background-color: #000;
}

.container_left {
  position: relative;
  transform: translateX(-85%);
}
.container_left #square {
  width: 20px;
  height: 6px;
  background-color: #000;
  transform: translate(675%, 1040%);
}
.container_left #square #point {
  width: 10px;
  height: 10px;
  position: relative;
  right: 30%;
  background-color: #000;
  border-radius: 100%;
  transform: translateY(-2px);
}

.container_right {
  position: relative;
  transform: translateX(60%);
}
.container_right #square {
  width: 20px;
  height: 6px;
  background-color: #000;
  transform: translate(-225%, 1040%);
}
.container_right #square:after {
  content: "";
  display: table;
  clear: both;
}
.container_right #square #point {
  width: 10px;
  height: 10px;
  position: relative;
  left: 90%;
  background-color: #000;
  border-radius: 100%;
  transform: translateY(-2px);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 1px 3px 5px 1px #1d1d1d;
  max-width: 100px;
  margin: 5% 0% 1%;
  margin-left: 0%;
  padding: 0% 5% 0%;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.content h2 {
  margin-bottom: 2%;
  font-size: 16px;
  text-align: center;
}
.content p {
  margin-top: 2%;
  font-size: 14px;
  padding: 2% 5% 0%;
}

@media only screen and (max-width: 500px) {
  #sep_descr #title_right {
    left: 0px;
  }
  #sep_descr #title_left {
    left: 55px;
  }
  
  .container_left {
    left: 40px;
  }
  .container_left #square {
    transform: translate(675%, 1040%);
  }
  .container_right {
    left: 35px;
  }
  .container_right #square {
    transform: translate(-225%, 1040%);
  }
}

@media only screen and (min-width:500px) and (max-width: 768px) {
  #sep_descr #title_right {
    transform: translateX(100%);
  }
  #sep_descr #title_left {
    transform: translateX(-100%);
  }
  #sep_descr #title_right h2, 
  #sep_descr #title_left h2 {
    font-size: 40px;
  }
  .content {
    max-width: 180px;
  }
  .content h2 {
    font-size: 30px;
  }
  .content p {
    font-size: 25px;
  }
  .container_left {
    transform: translateX(-75%);
  }
  .container_left #square {
    width: 60px;
    transform: translate(390%, 1040%);
  }
  .container_left #square #point {
    left: 0px;
  }
  
  .container_right {
    transform: translateX(85%);
  }
  .container_right #square {
    width: 60px;
    transform: translate(-130%, 1040%);
  }
}

@media only screen and (min-width: 768px) {
  #sep_descr #title_right {
    transform: translateX(225%);
  }
  #sep_descr #title_left {
    transform: translateX(-200%);
  }
  #storia {
    min-width: 98%;
  }
  .content {
    max-width: 200px;
  }
  .content h2 {
    font-size: 18px;
  }
  .content p {
    font-size: 16px;
  }
  .container_left {
    transform: translateX(-75%);
  }
  .container_left #square {
    transform: translate(1150%, 1040%);
  }
  .container_right {
    transform: translateX(75%);
  }
  .container_right #square {
    transform: translate(-230%, 1040%);
  }
}