a {
  color: #000;
}
a:hover {
  color: #0a58ca;
  text-decoration: underline;
  font-style: italic;
}

div::after {
  display: block;
  content: "";
  clear: both;
}

hr {
  color: #808080;
  text-align: center;
}

#titolo {
  position: sticky;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0%;
  z-index: 9;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E8E8E8;
}
#titolo p {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  #titolo {
    padding-bottom: 10px;
  }
}

#menuDivButton {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 75px;
  height: 75px;
  margin-top: 0px;
  margin-left: 0px;
}
#menuDivButton a {
  text-decoration: none;
}
#menuDivButton a:hover {
  text-decoration: none;
  font-style: normal;
}
#menuDivButton a span {
  display: block;
  margin:4px;
  height: 5px;
  width: 35px;
  background: #222222;
  border-radius: 9px;
}
#menuDivButton a span:nth-last-child(1) {
  background: none;
  text-align: center;
  border-radius: 0%;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  #menuDivButton {
    margin-top: 15px;
    margin-left: 15px;
    top: 5px;
    left: 0px;
  }
  #menuDivButton:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
}

#menu #lista {
  width: 100%;
}
#menu #resto {
  width: 0%;
  left: 100%;
}
#menu #lista {
  display: none;
  min-height: 100%;
  left: 0%;
  top: 0%;
  z-index: 10;
  background-color: #faf9f9;
  position: absolute;
}
#menu #lista #exit {
  margin: 5% 6%;
  width: 20px;
  height: auto;
  position: absolute;
}
#menu #lista #exit img {
  width: 15px;
  height: auto;
}
#menu #lista ul {
  padding-top: 6%;
  padding-left: 20%;
  list-style: none;
}
#menu #lista ul li {
  margin-bottom: 20px;
}
#menu #lista ul li a {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 10px;
}
#menu #lista ul li a img {
  width: 20px;
  height: auto;
}
#menu #resto {
  top: 0%;
  min-height: 100%;
  position: absolute;
  z-index: 10;
  display: none;
  background-color: #7e7d7dda;
}
@media only screen and (min-width: 330px) and (max-width: 768px) {
  #menu #lista {
    width: 75%;
    border-top-left-radius: 10px;
  }
  #menu #resto {
    width: 25%;
    left: 75%;
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1060px) {
  #menu #lista {
    width: 35%;
    border-top-left-radius: 10px;
  }
  #menu #resto {
    width: 65%;
    left: 35%;
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1300px) {
  #menu #lista {
    width: 25%;
    border-top-left-radius: 10px;
  }
  #menu #resto {
    width: 75%;
    left: 25%;
    border-top-right-radius: 10px;
  }
}
@media only screen and (min-width: 1300px) {
  #menu #lista {
    width: 20%;
    border-top-left-radius: 10px;
  }
  #menu #resto {
    width: 80%;
    left: 20%;
    border-top-right-radius: 10px;
  }
}

body {
  margin-left: 0%;
  margin-right: 0%;
  background-color: #E8E8E8;
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

#tutto {
  min-height: 100%;
  top: 0%;
  width: 100%;
  height: auto;
  position: absolute;
  margin: 0%;
  padding: 0%;
}
@media only screen and (min-width: 768px) {
  #tutto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 0px solid #E8E8E8;
    border-radius: 10px;
    height: auto;
    min-height: 0%;
    width: 70%;
    padding-top: 0.3%;
    box-shadow: 1px 0px 10px #fff;
    background-color: #E8E8E8;
    margin-left: 15%;
    margin-right: 15%;
  }
  #tutto hr {
    margin: 0% 8%;
  }
}

#competenze_div ul {
  list-style: none;
  margin-top: 1vw;
  padding-left: 9%;
  padding-right: 3%;
}
#competenze_div ul p {
  font-size: 15px;
  margin: 5px 15px;
  text-align: center;
}
#competenze_div ul li #lingue, 
#competenze_div ul li #software, 
#competenze_div ul li #programmazione {
  margin-left: 1px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
#competenze_div ul li #lingue a, 
#competenze_div ul li #software a, 
#competenze_div ul li #programmazione a {
  margin-right: 30px;
  margin-top: 1.3vw;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
}
#competenze_div ul li #lingue a span, 
#competenze_div ul li #software a span, 
#competenze_div ul li #programmazione a span {
  display: block;
}
#competenze_div ul li #lingue a img {
  width: 55px; 
  height: auto;
  border-radius: 50%;
} 
#competenze_div ul li #lingue a img, 
#competenze_div ul li #software a img, 
#competenze_div ul li #programmazione a img {
  height: 55px;
  width: auto;
  margin-bottom: 10px;
  padding-right: 5px;
  background-color: #00000000;
}
#competenze_div ul li h2 {
  font-size: 20px;
  margin-bottom: 0vw;
  margin-top: 1vw;
}
@media only screen and (min-width: 768px) {
  #competenze_div ul {
    padding-right: 0px;
  }
  #competenze_div ul p {
    font-size: 18px;
  }
  #competenze_div ul li h2 {
    position: relative;
    left: -75px;
  }
  #competenze_div ul li #lingue a img {
    width: 85px; 
  } 
  #competenze_div ul li #software a img, 
  #competenze_div ul li #programmazione a img {
    height: 80px;
    width: auto;
  }
  #competenze_div ul li #lingue a span, 
  #competenze_div ul li #software a span, 
  #competenze_div ul li #programmazione a span {
    font-size: 15px;
    visibility: hidden;
  }
  #competenze_div ul li #lingue a:hover, 
  #competenze_div ul li #software a:hover, 
  #competenze_div ul li #programmazione a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  #competenze_div ul li #lingue a:hover span, 
  #competenze_div ul li #software a:hover span, 
  #competenze_div ul li #programmazione a:hover span {
    visibility: visible;
  }
}

#competenza_descrizione {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  justify-content: center;
  overflow: hidden;
  background-color: #7e7d7dda;
}
#competenza_descrizione #competenza_exit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-shadow: 0.5px 1px 5px;
  position: relative;
  border: 0px solid #00000000;
  border-radius: 50px;
  background-color: #fff;
  z-index: 6;
  bottom: 16%;
  left: 0%;
}
#competenza_descrizione #competenza_exit:hover {
  opacity: 0.9;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: transform 1s;
}
#competenza_descrizione #competenza_exit img {
  width: 10px;
  height: 10px;
}
#competenza_descrizione iframe {
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  width: fit-content;
  width: 95%;
  height: 13%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #competenza_descrizione iframe {
    width: 50%;
  }  
}

footer {
  background-image: linear-gradient(to right, #9ba5da, #bbe7c8, #dee7e7);
  padding-bottom: 4%;
  border-top: 2px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  margin-top: 5%;
  position: relative;
}
footer p {
  font-size: 18px;
  color: #000;
  position: relative;
  padding: 0.5% 2%;
}
footer #linkContatti {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #linkContatti a {
  display: inline-block;
  margin-left: 35px;
  text-align: center;
  text-decoration: none;
}
footer #linkContatti a img {
  background-color: #00000000;
  width: 40px;
  height: auto;
}
@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
  footer p {
    font-size: 30px;
  }
  footer #linkContatti a:hover {
    opacity: 0.7;
    transition: opacity 1s;
    transform: scale3d(0.9, 0.9, 0.9);
    transition: transform 1s;
  }
  footer #linkContatti a img {
    width: 85px;
    height: auto;
  }
}

#testo {
  padding: 0px 5px;
  margin-bottom: 0px;
}
#testo h2 {
  margin-top: 0px;
  margin-bottom: 2px;
}
#testo p {
  font-family: serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;  
}
#testo p img {
  vertical-align: middle;
}
#testo hr {
  margin-top: 2%;
}
#testo p::after {
  display: block;
  content: "";
  clear: both;
}
@media only screen and (min-width: 768px) {
  #testo {
    padding: 0% 8%;
  }
  #testo p {
    font-size: 18px;
  }
}

.foto_sinistra {
  float: left;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}
.foto_destra {
  float: right;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50%;
}