#sep_descr {
  display: flex;
}
#sep_descr #title_right{
  position: relative;
}
#sep_descr #title_left{
  position: relative;
}

#storia {
   position: relative;
   display: grid;
   width: 100%;
   height: auto;
}

.timeline {
  position: relative;
  width: 6px;
  height: 100%;
  bottom: 5%;
  top: 5%;
  background-color: #000;
  border-radius: 10px;
}
.container_left {

}
.container_right {

}
.content {
  background-color: #fff;
  margin: 0px 10px;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  #sep_descr {
    display: flex;
  }
  #sep_descr #title_right{
    position: relative;
    left: 30%;
  }
  #sep_descr #title_left{
    position: relative;
    left: 60%;
  }

  #storia {
    position: relative;
    display: grid;
    width: 100%;
    height: auto;
  }

  .timeline {

  }
  .container_left {

  }
  .container_right {

  }
  .content {

  }
}
