footer {
    margin-top: 3%;
    background-image: $footer_color;
    padding-bottom: 4%;
    border-top: 2px solid #000;
    border-radius: 10px;
    p{
        font-size: 18px;
        color: #000;
        position: relative;
        padding: 0.5% 2%;
    }
    #linkContatti {
        text-decoration: none;
        position: relative;
        @include center_items();
        a {
            display: inline-block;
            margin-left: 35px;
            text-align: center;
            text-decoration: none;
            img {
                background-color: $invisible_color;
                width: 40px;
                height: auto;
            }
        }
    }

    @media screen and (min-width: 768px) {
        p {
            font-size: 30px;
        }
        #linkContatti {
            a {
                @include btn_hover_effect();
                img {
                    width: 85px;
                    height: auto;
                }
            }
        }
    }
}