#presentazione_container{
    @include center_items();
    #presentazione {
        @include set_border(groove, 2px, 50%, #dee7e7);
        @include setXY(200px);
        @include center_items();
        background-color: #dee7e7;
        box-shadow: 2px 2px 10px;
        padding: 25px;
        margin-top: 20px;
        
        p {
            font-family: serif;
            font-size: 18px;
            text-align: center;
        }
    }
}

#riassunto {
    @include center_items();
    margin-left: 3.5px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    p {
        font-family: serif;
        font-size: 20px;
        text-align: center;
    }

    #storia, #skills, #hobby {
        @include border_top_bottom(3px, 10px);
        margin-right: 10%;
        margin-bottom: 70px;
        background-color: #fff;
        @include setXY(150px, 200px);
        
        box-shadow: 1px 1px 10px #000;
        p {
            font-size: 15px;
            padding: 0px 10px 0px 10px;
        }
        img {
            width: 150px;
            height: auto;
            @include border_top_bottom(3px, 0px);
        }
    }

    @media only screen and (min-width: 768px) {
        margin: 0px 15px;
        margin-top: 15px;
        padding: 2% 8%;
        @include center_items();

        #storia, #skills, #hobby {
            margin-right: 5%;
            @include setXY(200px, 230px);
            img {
                width: 200px;
                height: auto;
            }
        } 
    }
}

