#menuDivButton {
    position: absolute;
    width: 75px;
    height: 75px;
    margin-top: 15px;
    margin-left: 15px;    
    a {
        width: 75px;
        height: 75px;
        img {
            width: 55px;
            height: auto;
        }
    }
    @media only screen and (min-width: 768px) {
        margin: 1vw 1vw;
        a {
            img {
                @include btn_hover_effect();
                width: 75px;
                height: auto;
            }
        }
    }
}

#menu {
    @include menu_responsive(100);
    #lista {
        display: none;
        min-height: 100%;
        left: 0%;
        top: 0%;
        z-index: 10;
        background-color: #faf9f9;
        position:absolute;
        #exit {
            margin: 5% 6%;
            width: 20px;
            height: auto;
            position:absolute;
            img {
                width: 15px;
                height: auto;
            }
        }
        ul {
            padding-top: 6%;
            padding-left: 20%;
            list-style: none;
            li{
                list-style: none;
                padding-bottom: 0.5vw;
                a {
                    text-decoration: none;
                    font-size: 24px;
                    img {
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }
    }

    #resto {
        top: 0%;
        min-height: 100%;
        position: absolute;
        z-index: 10;
        display: none;
        background-color: #7e7d7dda;
    }

    @media only screen and (min-width: 330px) and (max-width: 768px) {
        @include menu_responsive(75);
    }
    @media only screen and (min-width: 768px) and (max-width: 1060px) {
        @include menu_responsive(35);
    }
    @media only screen and (min-width: 1060px) and (max-width: 1300px) {
        @include menu_responsive(25);
    }
    @media only screen and (min-width: 1300px)  {
        @include menu_responsive(15);
    }
}
