@mixin foto($part) {
    float: $part;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 1px;
    border-radius: 50%;
}

@mixin menu_responsive($size){
    #lista {
        width: percentage($size)/100;
    }
    #resto {
        width: percentage((100-$size)/100);
        left: percentage($size/100);
    }
}

@mixin set_border($stile, $size, $raggio, $colore) {
    border: $size $stile $colore;
    @if $raggio > 0 {
        border-radius: $raggio;
    }
}

@mixin border_top_bottom($top, $bottom){
    border-top-left-radius: $top;
    border-top-right-radius: $top;
    border-bottom-left-radius: $bottom;
    border-bottom-right-radius: $bottom;
}

@mixin center_items() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin setXY($x, $y: $x){
    width: $x;
    height: $y;
}

@mixin btn_hover_effect() {
    &:hover {
        opacity: 0.7;
        transition: opacity 1s;
        transform: scale3d(0.9,0.9,0.9);
        transition: transform 1s;
    }  
}