body {
    margin-left: 0%;
    margin-right: 0%;
    background-color: #E8E8E8;
    @media only screen and (min-width: 768px)  {
        margin-left: 15vw;
        margin-right: 15vw;
        background-color: #000;
    }
}

#tutto {
    min-height: 100%;
    top: 0%;
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0%;
    padding: 0%;

    @media only screen and (min-width: 768px)  {
        @include set_border(solid, 0px, 10px, #E8E8E8);
        padding-top: 0.3%;
        position: static;
        box-shadow: 1px 0px 10px #fff;
        background-color: #E8E8E8;
        hr {
            margin: 0% 8%;
        }
    }
}