#testo {
    font-family: serif;
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    h2 {
        margin-bottom: 1px;
        margin-top: 2px;
    }
    hr {
        margin-top: 2%;
    }

    @media only screen and (min-width: 768px) {
        font-size: large;
        padding: 2% 8%;
        p {
            margin-top: 2px;
            margin-left: 20px;
        }
    }
}

.foto_sinistra {
    @include foto(left);
}

.foto_destra {
    @include foto(right);
}